<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Alta Carga Mental - Inicio</title>
  <link rel="icon" type="image/png" sizes="64x64" href="/icons8-brain-64.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">  

</head>
<body>
  <div>
    <h1>Bemvindo ao jogo Carga Mental!</h1>
    <p>Clique no botão abaixo para configurar o jogo.</p>
    <i class="fas fa-icon-name" style="color: #fff;"></i>
    <form action="settings" method="get">
      <button class="button" type="submit">
        <i class="fa-solid fa-play" style="font-size:xx-large; color: #000000;"></i>
      </button>
    </form>
  </div>
</body>
</html>
