<!DOCTYPE html>
<html>
<head>
  <title>Mental Load - Start</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <div>
    <h1>Bemvindo!</h1>
    <p>Clique no botão abaixo para configurar o jogo.</p>
    <a href="/settings">Settings</a>

  </div>
</body>
</html>
