<!DOCTYPE html>
<html>
<head>
  <title>Mental Load - Settings</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div>
    <h1>Configuração</h1>
    <form action="/game" method="post">
      <p>Insira o percentual de vezes que a nota de R$ 100 deverá aparecer do lado esquerdo.</p>
      <input type="number" name="number" id="number" required><br>
      <label for="number">Apenas números:</label><br><br>
      
      <p>Insira o números de rodadas.</p>
      <input type="number" name="turns" id="turns" required><br>
      <label for="turns">Apenas números:</label><br><br>
      
      <button class="button" type="submit">Iniciar Jogo</button><br>
      <label for="number">Clique no botão para iniciar o jogo.</label> 
    </form>
  </div>
</body>
</html>
