<!DOCTYPE html>
<html>
<head>
  <title>Carga Mental - Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/icons8-brain-64.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Configuração</h1>
    <form action="/game" method="post">
      <p>Insira o percentual de vezes que a nota de R$ 100 deverá aparecer do lado esquerdo.</p>
      <input type="number" name="percentage" id="percentage" required><br>
      <label for="percentage">Apenas números:</label><br><br>
      
      <p>Insira o números de rodadas da 1a etapa.</p>
      <input type="number" name="rounds1" id="rounds1" required><br>
      <label for="turns1">Apenas números:</label><br><br>

      <p>Insira o números de rodadas da 2a etapa.</p>
      <input type="number" name="rounds2" id="rounds2" required><br>
      <label for="turns2">Apenas números:</label><br><br>

      <p>Insira o tempo de referência para pontuar a resposta em dobro.</p>
      <input type="number" name="limit" id="limit" required><br>
      <label for="number">Em segundos e apenas números:</label><br><br>

      <button class="button" type="submit"><i class="fa-solid fa-play" style="font-size:xx-large; color: #000000;"></i></button><br>
      <label for="number">Clique no botão para iniciar o jogo.</label> 
    </form>
  </div>
</body>
</html>
